# Archivos pesados
*.pdf
*.xlsx
*.xlsm

# Datos
app/data/*.db

# Dependencias
node_modules/
venv/

# Builds
.next/
out/
dist/
build/

# Archivos temporales y de sistema
*.zip
*Zone.Identifier
.DS_Store
Thumbs.db
*.log

# Variables de entorno
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# Cache
.cache/
*.tsbuildinfo

# Gestion
gestion
