# Archivos pesados
*.pdf
docs/source/images/
docs/source/pdf_to_images.py
docs/design/mockups/
docs/design/mockups_desktop/
docs/design/mockups_desktop_color/

# Dependencias
node_modules/
venv/

# Builds
.next/
out/
dist/
build/

# Archivos temporales y de sistema
*.zip
*Zone.Identifier
.DS_Store
Thumbs.db
*.log

# Variables de entorno
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# Cache
.cache/
*.tsbuildinfo
